/* -- animate */
@keyframes set-to-added {
	from {
		opacity: 1;
		background-color: #fff;
	}

	to {
		opacity: 0.8;
		background-color: rgb(204, 204, 204);
	}
}

/* -Defaults */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans';
}

h1 {
	font-size: 1.9rem;
}

h3 {
	font-size: 1.2rem;
	font-weight: 600;
}

h4 {
	font-size: 1.2rem;
	font-weight: 500;
}

h5 {
	font-size: 0.9rem;
	font-weight: 300;
}

ul {
	margin: 0;
	padding: 0;
	line-height: 3rem;
}

.form-control {
	border-radius: 10px;
}

.nav {
	background-color: #4f9b68;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 10px 20px;
}

.nav #app-name {
	color: #fff;
}

.side {
	background-color: #3eb265;
	color: #fff;
	/* display: none; */
}

.result-added {
	background-color: rgb(204, 204, 204);
	opacity: 0.8;
	color: rgb(58, 58, 58);
	box-shadow: 1px 1px 2px 1px #999898;
}

.add-animate {
	animation-name: set-to-added;
	animation-duration: 2s;
}

.result-removed {
	opacity: 1;
	box-shadow: 2px 3px 3px 0px #bdbdbd;
}

.remove-animate {
	animation-name: set-to-not-added;
	animation-duration: 0.9s;
}

.card {
	margin-bottom: 20px;
	border-radius: 10px;
	border: none;
}

.no-result {
	animation-name: show-no-results;
	animation-duration: 1s;
}

.button-container {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	margin: 0;
}

.side,
.results {
	padding: 20px;
	min-height: 800px;
}

.results-container {
	margin-top: 10px;
	padding-top: 10px;
}

.playlist-container {
	margin-top: 20px;
}

#logo {
	animation-name: rotate-logo;
	animation-duration: 1.7s;
	display: flex;
	flex-flow: row;
	color: #fff;
}

#user {
	animation-name: move-user;
	animation-duration: 1.7s;
}

.playlist-item {
	background-color: #fff;
	padding: 5px 10px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-bottom: 10px;
	margin-right: 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px 1px #317c4a;
	color: #000;
	align-items: center;
}

.playlist-item img {
	border-radius: 5px;
	width: 65px;
}

.playlist-item h4 {
	font-size: 1.1rem;
	font-weight: 600;
}

.playlist-item h5 {
	font-size: 1rem;
	font-weight: 400;
}

.main-container {
	box-shadow: 2px 3px 3px 1px rgb(116, 116, 116);
}

.playlist-count {
	display: block;
}

.card-image img {
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

/* -Mobile  */
@media (min-width: 320px) {
	.side {
		/* display: none; */
		height: 300px;
		min-height: 200px;
		overflow: auto;
	}

	.playlist-item {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.button-container {
		margin-top: 10px;
	}
}

/* -Tablet and up */
@media (min-width: 768px) {
	.side,
	.results {
		display: block;
		overflow: auto;
		height: auto;
	}

	.button-container {
		margin: 0;
	}
}
