* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-size: 2rem;
}

h3 {
	font-size: 1.3rem;
}

.container {
	/* border: 1px solid #000; */
}

.nav {
	background-color:	#4f9b68;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 10px 20px;
}

.side {
	background-color:			#3eb265;
	color: #fff;
	/* display: none; */
}

.result-added {
	background-color:rgba(121, 121, 121, 0.2);
	animation-name: set-to-added;
	animation-duration: 1s;
}

.result-removed {
	animation-name: set-to-not-added;
	animation-duration: 1s;
}

.card {
	margin-bottom: 10px;
	box-shadow: 3px 3px 10px 1px #00000021;
}

ul {
	margin: 0;
	padding: 0;
	line-height: 3rem;
}



.button-container {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	margin: 0;
}

.side, .results {
	padding: 20px;
	min-height: 600px;

}

.results-container {
	margin-top: 10px;
	padding-top: 10px;
}

#logo {
	animation-name: rotate-logo;
	animation-duration: 1.7s;
}


.playlist-item {
	margin-bottom: 10px;
	background-color: #fff;
	padding: 5px 10px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-bottom: 10px;
	margin-right: 10px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px 1px #317c4a;;
	font-size: 1.1rem;
	color: #000;
	animation-name: background-new, rotateObject;
	animation-play-state: running;
	animation-duration: .4s, .4s;
}



.main-container {
	box-shadow: 2px 3px 3px 1px #0005;
}

.playlist-count {
	display: block;
}

@keyframes background-new {
	0% {
		background-color: rgba(172, 172, 172, 0.2);
		opacity: .3;
	}

	100% {
		background-color: #fff;
		opacity: 1;
	}
}

@keyframes set-to-added {
	from {
		background-color: #fff;
	}

	to {
		background-color:rgba(121, 121, 121, 0.2);
	}
}

@keyframes set-to-not-added {
	from {
		background-color:rgba(121, 121, 121, 0.2);
	}
	
	to {
		background-color: #fff;
	}
}

@keyframes rotateObject {
	0% {
		transform: rotate(1deg);
	}

	
	25% {
		transform: rotate(-1deg);
	}
	
	50% {
		transform: rotate(1deg)
	}
	
	75% {
		transform: rotate(-1deg);
	}
	
	100% { 
		tranform: rotate(0deg);
	}
}

@keyframes rotate-logo {
	from {
		transform: rotate(270deg)
	}

	to {
		transform: rotate(360deg)
	}
}

@media(min-width: 320px) {

	.side {
		/* display: none; */
		height: 300px;
		min-height: 200px;
		overflow: auto;
	}

	.playlist-item {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.button-container {
		margin-top: 10px;
	}
}

@media(min-width: 768px) {
	.side, .results {
		display: block;
		overflow: auto;
		height: auto;
	}

	.button-container {
		margin: 0;
	}
}