body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	color: rgba(255,255,255)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
	font-weight: 500;
}

h3 {
	font-weight: 300;
	font-size: 1rem;
}

button {
	padding: 10px;
	border: none;
	box-shadow: 1px 1px 3px 1px rgba(0,0,0,.4);
}

ul {
	line-height: 1.6rem;
}

.playlist, .nav, .musicPlayer, .results {
	padding: 15px 20px;
}

.nav {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	background-color: rgba(0,0,0,.4)
}

.side {
	display: flex;
	flex-flow: column wrap;
	flex: 1 1 18%;
	box-shadow: 1px 1px 4px 1px rgba(0,0,0,.3);
}

.main {
	display: flex;
	flex-flow: row;
}

.playlist {
	background-color: rgba(0,0,0,.4);
}

.musicPlayer {
	background-color: rgba(0,0,0,.6);
	display: flex;
	flex-flow: column wrap;
}

#albumIcon {
	width: 100%;
}

#albumIcon img{
	width: 100%;
	height: 100%;
}

#controls {
	display: flex;
	flex-flow: row;
	width: 100%;
}

#timeline {
	z-index: 2;
	display: flex;
	/* width: 100%; */
}

#timelineImage img {
	width: 100%;
}

#timeline #timelineImage {
	display: flex;
	flex: 1 1 .8fr;
	align-items: center;
	margin-right: 5px;
	height: 30px;
}

#controls img {
	margin-right: 8px;
	width: 50px;
	flex: 1 1 33%;
}

.results {
	background-color: rgba(255,255,255);
	flex: 1 1 82%;
	color: rgb(0,0,0);
	box-shadow: 1px 1px 4px 1px rgba(0,0,0,.3);

}

.alreadyAdded {
	font-weight: 400;
}

.results-container {
	display: flex;
	flex-flow: row wrap;
	margin-top: 20px;
 
}

.card {
	display: flex;
	flex-flow: column;
	width: 12rem;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: rgb(255,255,255);
	color: rgba(0,0,0);
	box-shadow: 1px 1px 4px 1px rgba(0,0,0,.3);
}

.card-image {
	display: flex;
	flex: 1 1 90%;
	justify-content: center;
}

.card-image img {
	width: 100px;
	margin: 10px;
}

.card-body {
	display: flex;
	flex-flow: row;
	flex: 1 1 10%;
	border-top: 1px solid rgba(0,0,0,.2);
	align-items: center;
	padding: 0px 10px;
}

.card-body h3 {
	flex: 1 1 80%;
}

.card-body .button-container {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	width: 50px;
	flex: 0 0 30%;
}

#search {
	display: flex;
	flex-flow: row wrap; 
	padding: 10px 5px;
	background-color: rgb(255,255,255);
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,.3);
	border-radius: 10px;
}

#search img{
	/* flex: 1 1 10%; */
	width: 50px;
}

#search input {
	flex: 1 1 80%;
}

#search input {
	padding: 20px;
	border: none;
}
